### Release

The three year target for Release (high level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Arelease); [SMAU (Stage Monthly Active Users) dashboard](https://app.periscopedata.com/app/gitlab/661492/WIP-Ops:-Release:-Release-Management)) is:

- Deliver on the promise of [Progressive Delivery](/direction/ops/#progressive-delivery) by offering a market-leading solution.
   - [Automatically roll back](https://gitlab.com/groups/gitlab-org/-/epics/3088)
   - [Advanced deployments](https://gitlab.com/groups/gitlab-org/-/epics/2213)
   - [Best-in-class Review Apps](https://gitlab.com/groups/gitlab-org/-/epics/2349)
   - [Comprehensive and contextual dashboard for Feature Flags](https://gitlab.com/groups/gitlab-org/-/epics/2236)
- Point GitLab to your code and your environment (whether that's Kubernetes, Azure, Google Cloud Platform, AWS, mobile marketplaces, or other app stores) and we'll automatically connect the dots to handle your deployments.
   - [Streamline Deployment to AWS](https://gitlab.com/groups/gitlab-org/-/epics/2351)
   - [Release Runbooks](https://gitlab.com/groups/gitlab-org/-/epics/2662)
   - [HashiCorp Vault Integration](https://gitlab.com/groups/gitlab-org/-/epics/2868)
- Seamlessly navigate cross-repository, multi-cloud, complex releases in ways natural to both mature organizations and new users, wherever they are at in their DevOps Journey. While automatically capturing information around changes to production for an audit or compliance need. 
   - [Advanced Deploy Freezes](https://gitlab.com/groups/gitlab-org/-/epics/2884)
   - [Compliance in Release](https://gitlab.com/groups/gitlab-org/-/epics/2379)
   - [Release Evidence](https://gitlab.com/groups/gitlab-org/-/epics/1856)
   - [Feature Flag Permissions](https://gitlab.com/gitlab-org/gitlab/-/issues/8239)
 
We are looking at adding visualizations for our top themes by using prototypes as described in [gitlab&3825](https://gitlab.com/groups/gitlab-org/-/epics/3825).

The details of how we'll achieve different elements of this can be found in the individual category pages below:

#### Release Stage Categories
<%= partial("direction/categories-content", :locals => { :stageKey => "release" }) %>

#### Pricing
<%= partial("direction/ops/tiering/release") %>
