%div.experiment-container.experiment-control
  .comparison-page-content.comparison.gray-bg#comparison
    = partial "includes/features/table", locals: { product_one: data.features.devops_tools.gitlab_core, product_two: data.features.devops_tools.gitlab_starter, product_three: data.features.devops_tools.gitlab_premium, product_four: data.features.devops_tools.gitlab_ultimate, key_one: 'gitlab_core', key_two: 'gitlab_starter', key_three: 'gitlab_premium', key_four: 'gitlab_ultimate', gitlab_com_features: false, highlight_features: false }